<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="spms.dao.TaskDao">
  <resultMap type="task" id="taskResultMap">
    <id property="no"             column="TNO" />
    <result property="title"      column="TITLE" />
    <result property="startDate"  column="SDATE" />
    <result property="endDate"    column="EDATE" />
    <result property="state"      column="STATE" />
    <result property="tags"       column="TAGS" />
    <result property="projectNo"  column="PNO" />
    <result property="memberNo"   column="MNO" />
    <!-- worker 멤버 객체를 자동으로 생성 -->
    <association property="worker" javaType="member">
      <result property="no" column="MNO"/>
      <result property="name" column="MNAME"/>
    </association>
  </resultMap>

  <select id="selectList" parameterType="map" resultMap="taskResultMap">
    select T1.TNO, T1.TITLE, T2.MNO, T2.MNAME, T1.STATE
		from TASKS T1 left outer join MEMBERS T2
		using (MNO)
    <where>
      <if test="search == 'title' and keywords != null">
        <foreach collection="keywords" item="keyword"
            open="(" close=")">
            or T1.TITLE like concat('%',#{keyword},'%')
        </foreach>
      </if>
      <if test="projectNo > 0">
        and T1.PNO=#{projectNo}
      </if>
    </where>
    order by T1.TNO
  </select>

  <select id="selectOne" parameterType="int" resultMap="taskResultMap">
    select TNO,
    TITLE, SDATE, EDATE, STATE, PNO, TAGS
    from TASKS
    where TNO=#{value}
  </select>

  <delete id="delete" parameterType="int">
    delete from TASKS where TNO=#{value}
  </delete>

  <insert id="insert" parameterType="task">
    INSERT INTO TASKS(TITLE,SDATE,EDATE,TAGS,PNO)
    VALUES(#{title},#{startDate},#{endDate},#{tags},#{projectNo})
  </insert>

  <update id="update" parameterType="task">
    update TASKS
    <set>
    <if test="title != null">TITLE=#{title},</if>
    <if test="startDate != null">SDATE=#{startDate},</if>
    <if test="endDate != null">EDATE=#{endDate},</if>
    <if test="state != -1">STATE=#{state},</if>
    <if test="tags != null">TAGS=#{tags},</if>
    <if test="projectNo != -1">PNO=#{projectNo}</if>
    </set>
    where TNO=#{no}
  </update>
  
    <select id="selectMyTasks" parameterType="int" 
      resultMap="taskResultMap">
      select TNO, TITLE, PNO, MNO
      from TASKS
      where MNO=#{value}
      order by TITLE
    </select>
    
</mapper>