<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="must.dao.ItemDao">
  <resultMap type="item" id="itemResultMap">
    <id property="pId"                column="PROD_ID"/>
    <result property="title"          column="TITLE"/>
    <result property="image"          column="IMAGE_URL"/>
    <result property="min_price"      column="MIN_PRICE"/>
    <result property="wish_price"     column="WISH_PRICE"/>
    <result property="link"           column="LINK"/>
    <result property="reg_date"       column="REG_DATE"/>
  </resultMap>
  
  <select id="selectList" resultMap="itemResultMap">
    select PROD_ID, TITLE, IMAGE_URL, MIN_PRICE, WISH_PRICE, LINK, REG_DATE
    from ITEMS
    order by REG_DATE desc
  </select> 
  
  <select id="selectItem" parameterType="string" resultMap="itemResultMap">
    select PROD_ID, TITLE, IMAGE_URL, MIN_PRICE, WISH_PRICE, LINK, REG_DATE 
    from ITEMS
    where PROD_ID=#{pId}
  </select>
  
	<insert id="insert" parameterType="item">
		insert into ITEMS (PROD_ID, TITLE, IMAGE_URL, MIN_PRICE, WISH_PRICE, LINK, REG_DATE)
		values (#{pId}, #{title}, #{image}, #{min_price}, #{wish_price}, #{link}, #{reg_date})
	</insert>

	<insert id="userItemInsert" parameterType="item">
		insert into USER_ITEM_LIST (UNO, PROD_ID, WISH_PRICE, REG_DATE)
		values (#{no}, #{pId}, #{wish_price}, #{reg_date})
	</insert>

		<delete id="delete" parameterType="string">
		delete from ITEMS
		where PROD_ID=#{pId}
	</delete>
	
	<update id="minUpdate" parameterType="map">
    update ITEMS set 
    MIN_PRICE=#{lPrice} 
    where PROD_ID=#{pId}
  </update>
	
	<update id="wishUpdate" parameterType="map">
    update ITEMS set 
    WISH_PRICE=#{wish_price} 
    where PROD_ID=#{pId}
  </update>
	
</mapper>