<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="must.dao.UserDao">
  <resultMap type="user" id="userResultMap">
    <id property="no"                 column="UNO"/>
    <result property="email"          column="UEMAIL"/>
    <result property="password"       column="UPW"/>
    <result property="regId"       column="REGID"/>
  </resultMap>

	<insert id="insertUser" parameterType="user">
		insert into USERS (UEMAIL, UPW)
		values (#{email}, PASSWORD(#{password}))
	</insert>
	
  <select id="selectList" parameterType="map" resultMap="userResultMap">
    select * 
    from USERS
    where UEMAIL=#{email} and UPW=PASSWORD(#{password}) 
  </select>
	
	<select id="selectNo" parameterType="string" resultType="int">
    select UNO from USERS
    where UEMAIL=#{email}	    
	</select>
	
	<select id="emailCheck" parameterType="string" resultMap="userResultMap">
	    select * 
	    from USERS
	    where UEMAIL = #{useremail}
	</select>

</mapper>