<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="must.dao.WeekChartDao">
  <resultMap type="chart" id="chartResultMap">
    <id property="no"             column="WNO"/>
    <result property="pId"        column="PROD_ID"/>
    <result property="price"      column="WPRICE"/>
    <result property="time"       column="WTIME"/>
  </resultMap>

	<insert id="insert" parameterType="chart">
		insert into WEEk_CHANGES (PROD_ID, WPRICE, WTIME)
		values (#{pId}, #{price}, #{time})
	</insert>

  <select id="selectList" parameterType="string" resultMap="chartResultMap">
	   select * from WEEk_CHANGES
     where PROD_ID = #{pId};
	</select>
	
  <delete id="delete" parameterType="string">
		delete from WEEk_CHANGES
		where PROD_ID=#{pId}
	</delete>
	
</mapper>