@CHARSET "UTF-8";
* {
  border-radius: 3px;
  box-sizing: border-box;
  margin-bottom: 4px;
}

#accordion {
  width: 100%
  margin: 50px auto;
}
p{
  color: white;
}
.verygood {
	width: 100%;
  height: 60px;
  background-color: #29d1ed;
}

.good {
	width: 100%;
  height: 60px;
  background-color: #2d99e1;
}

.bad {
	width: 100%;
  height: 60px;
  background-color: #2a6cB8;
}

.verybad {
	width: 100%;
  height: 60px;
  background-color: #315ea2;
}

.name {
  color: white;
  font-weight: bold;
  position: relative;
  font-size: 1em;
  left: 10px;
  top: 15px;  
}

.persent {
  color: white;
  font-weight: bold;
  font-size: 1.5em;
  float: right;
  margin-top: 15px;
  margin-right: 10px;
}
 .price {
  color: white;
  font-weight: bold;
  font-size: 0.9em;
  position: relative;
  left: 10px;
  top: 10px;  
}

 .sPrice {
    font: 12px sans-serif;
    color: white;
}
 
 .contents .iName {
     color: red;
   font: 20px sans-serif;
    
}

 .contents .sPrice {
    font: 12px sans-serif;
    color: white;
} 
 
 .contents em.bullet {
    width: 12px;
    height: 12px;
    margin: 0 5px;
    background: white;
    display: inline-block;
 
    -webkit-box-shadow: inset 1px 1px 1px rgba(255,255,255, 0.4);
    -moz-box-shadow: inset 1px 1px 1px rgba(255,255,255, 0.4);
    box-shadow: inset 1px 1px 1px rgba(255,255,255, 0.4);
 
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
 #accordion .contents img {
    -webkit-box-shadow: 2px 2px 6px rgba(0,0,0, .5);
    -moz-box-shadow: 2px 2px 6px rgba(0,0,0, .5);
    box-shadow: 2px 2px 6px rgba(0,0,0, .5);
}