@CHARSET "UTF-8";

#loginPage{
 background-image:url("../images/join_image.jpg");
 background-size:cover;
 background-repeat:no-repeat;
 }
.loginForm {
  background-color: #edeff1;
  padding: 24px 23px 20px;
  position: relative;
  border-radius: 6px;   
  border: no;  
}
#userLogin {
  color: #ffffff;
  background-color: #90EE90;
  border-color: #90EE90;
  font-weight: bolder !important;
  font-size: 1.5em;
  margin-top: -6%;
}
#btnJoin {
  color: #ffffff;
  margin-left: 4%;
}
.reBtn {
	margin-left: 38%;
}
#textBox{
	border-width: 0;
  overflow: visible;
  overflow: hidden;
  padding: 1em;
  padding-top: 25%;
}
#inputStyle{
	opacity:0.5;
}
.ui-grid-a {
	color: blue;
}
.ui-btn-loginB {
	color: green;
}
#logo {
	width: 40%;
	margin-left: 31%;
	margin-bottom: 30%;
}
#loginPassword {
	margin-top: -7%;
}