#searchImg img {
	background-color: white;
  width: 180px;
  height: 180px;
}

figure, figcaption {
display: block;
}

#searchImg {
width:100%;
overflow:hidden;
padding:20px 10px;
}

#searchImg  figure{
float:left;
position:relative;
width:180px;
height: 210px;
margin:10px 20px;        
padding: 6px 8px 10px 8px;
-webkit-box-shadow: 4px 4px 8px -4px rgba(0, 0, 0, .75);
-moz-box-shadow: 4px 4px 8px -4px rgba(0, 0, 0, .75);
box-shadow: 4px 4px 8px -4px rgba(0, 0, 0, .75);
background: white;
-webkit-backface-visibility:hidden; /*prevent rotated text being jagged in Chrome and Safari*/
}

#searchImg  figure:nth-child(even) {
-moz-transform: rotate(2deg);
-o-transform: rotate(2deg);
-ms-transform: rotate(2deg);
transform: rotate(2deg);
-webkit-backface-visibility:hidden; /*prevent rotated text being jagged in Chrome and Safari*/
-webkit-box-shadow: 4px 4px 8px -4px rgba(0, 0, 0, .75);
-moz-box-shadow: 4px 4px 8px -4px rgba(0, 0, 0, .75);
box-shadow: -4px 4px 8px -4px rgba(0, 0, 0, .75);
}

#searchImg figure:nth-child(even):before {
left:150px;
top: -15px;
width: 55px;
height: 25px;
-moz-transform: rotate(12deg);
-o-transform: rotate(12deg);
-ms-transform: rotate(12deg);
}

#searchImg figcaption{
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	-ms-text-overflow: ellipsis;
	white-space: nowrap;
	position: relative;
	float: left;
	width: auto;
	max-width: 180px;
	height: auto;
	/* max-height: 15px; */
}