.moreInfo {
	background-color: #DDDDDD;
	position: relative;
	margin-top: -4%;
}

#lPrice {
	font-weight: 900;
	font-size: 1.2em;
	margin-top: -9%;
	background-color: #DDDDDD !important;
	box-shadow: none !important;
	color: #995145 !important;
	text-shadow: none !important;
	border:none !important;
	border-right:0px !important; 
	border-top:0px !important; 
	boder-left:0px !important; 
	boder-bottom:0px !important;
}

#wPrice {
	font-weight: 900;
	font-size: 1.2em;
	margin-top: -9%;
	background-color: #DDDDDD !important;
	box-shadow: none !important;
	color: #995145 !important;
	text-shadow: none !important;
	border:none !important;
	border-right:0px !important; 
	border-top:0px !important; 
	boder-left:0px !important; 
	boder-bottom:0px !important;
}

.selectTitle {
	text-shadow: none !important;
	font-weight: 900;
	font-size: 1.7em;
	color: #995145;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	-ms-text-overflow: ellipsis;
	white-space: nowrap;
	position: relative;
	width: 70%;
	height: auto;
}

.selectImage {
	width: 50%;
	border-radius: 3%;
	margin-top: 1%;
	margin-bottom: 5%;
}

#chartPosition #chartImg {
	width: 100%;
	height: auto;
}

#wish_update {
  width: 33%;
  background-color: #43B5E7;
  border: none !important;
}

#selectLink {
  width: 33%;
  background-color: #90EE90;
  border: none !important;
  margin-right: 4%;
}

#buttonPosition a{
	display: inline-block;
}

#buttonPosition {
	margin-top: -6%;
}

#npPosition {
	float: right;
	margin: -55% 0 0 55%;
}

#wpPosition {
	float: right;
	margin: -30% 0 0 55%;
}

#npTitle {
	color: #43B5E7;
	text-shadow: none !important;
	font-weight: bolder;
	font-size: 1.6em;
}

#wpTitle {
	color: #43B5E7;
	text-shadow: none !important;
	font-weightn: bolder;
	font-size: 1.6em;
}
