.moreInfo {
	background-color: #C9BFA8;
}

#lPrice {
	font-weight: 900;
	background-color: #C9BFA8 !important;
	box-shadow: none !important;
	color: #4a494a !important;
	text-shadow: none !important;
	border:none !important;
	border-right:0px !important; 
	border-top:0px !important; 
	boder-left:0px !important; 
	boder-bottom:0px !important;
}

#wPrice {
	font-weight: 900;
	background-color: #C9BFA8 !important;
	box-shadow: none !important;
	color: #4a494a !important;
	text-shadow: none !important;
	border:none !important;
	border-right:0px !important; 
	border-top:0px !important; 
	boder-left:0px !important; 
	boder-bottom:0px !important;
}

.selectTitle {
	text-shadow: none !important;
	font-weight: 900;
	color: #4a494a;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	-ms-text-overflow: ellipsis;
	white-space: nowrap;
	position: relative;
	width: 60%;
	height: auto;
}

.selectImage {
	width: 100%;
	border-radius: 7%;
	margin-top: 5%;
	margin-bottom: 5%;
}

#chartPosition #chartImg {
	width: 100%;
	height: auto;
}

#wish_update {
  font-weight: 900;
}

#selectLinkPosition {
	margin-top: -4%;
  margin-bottom: 5%;
  margin-left: 38%;
  font-size: 100%;
}